body{
    margin: 0;
    font-family: Arial;
    background-color: black;
    color: white;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #0a0a0a;
}
.menu {
    display: flex;  /* cabecalho - home -ect */
    list-style: none;
    gap: 20px;
}
.menu a {
    color: white;
    text-decoration: none;
}
.login {
    background: purple; /* Botao de login */
    padding: 10px 20px;
    border-radius: 20px;
}

/* Hero */
.hero {
    height: 105vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('../assets/img/fundo2.jpg') no-repeat center/cover;
    background-size: cover;
}

/*Titulo*/
.hero h1 {
    font-size: 150px;
 margin: 10px 0;
}
.topo {
    font-size: 25px;   /*Em Cima Explore*/
    margin-bottom: 5px;
    color: #ccc;
}
.descricao {
    font-size: 35px;  /*Em Baixo Bem-vindo*/
    margin-top: 5px;
    margin-bottom: 15px;
}


.M {
    background: purple; /*botao conheça*/
    padding: 18px 40px;
    border-radius: 20px;
    display: inline-block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
}


/* Sobre */
.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
    gap: 60px;
}
.sobre h1 {
 font-size: 60px; /*Titulo do Sobre */
}
.sobre p {
 font-size: 23px;  /*Texto do sobre */
}
.sobre img {
    width: 500px;
    border-radius: 10px; /*imagem do sobre */ 
}
.info {
    display: flex;   /*Em baixo do texto */   
    gap: 60px;
    margin-top: 30px;
}
.info h2 {
    color: #b026ff;
    font-size: 70px;
    margin: 0;
}
.info span {
    font-size: 22px;
    color: #aaa;
}
.info div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/*Membros*/

.membros {
    padding: 50px;
    background: #0a0a0a;
    color: white;
}
.membros h1 {
    font-size: 50px; /*Titulo do membros*/
}
.icone {
    width: 20px; /* icon do lado do conheça */
    height: 20px;
}
.conheca {
    color: #b026ff;
    font-style: italic;
     font-size: 20px
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 30px;
}
.card {
    background: black;
    padding: 10px;
    border-radius: 10px;
     width: 350px;
    position: relative;
    text-align: left;
}
.card img {
    width: 100%;
 
}
.card h3 {
    font-size: 40px;  /*Nome dos meninos*/
    margin: 10px;
}
.card p {
    font-size: 17px; /*caregoria deles*/
    color: #ccc;
}

/* Cores das Bordas */
.vermelho { border: 20px solid red; }
.amarelo { border: 20px solid orange; }
.verde { border: 20px solid lime; }
.azul { border: 20px solid deepskyblue; }
.lilas { border: 20px solid violet; }
.rosa { border: 20px solid hotpink; }
.roxo { border: 20px solid purple; }



/*Cadastro*/

body.cadastro {
  background: url('../assets/img/Fundo112.png') no-repeat center/cover;
    background-size: cover;
}

/*Titulo*/
.titulo {
    text-align: center;
    margin-top: 40px;
}
.titulo h1 {
    font-size: 70px;
    margin-bottom: 10px;
    color: white;
}
.titulo p {
    font-size: 20px;
    color: #b88ec0;
}

.roxo2 { border: 30px solid red; }

/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

/* Imagem do lado do cadastro */
.card .roxa2 {
    width: 450px;
    height: 650px;
}
.Cadastro-img img{
 width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Fromulario */
.formulario {
    width: 400px;
}

.formulario label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.formulario input,
.formulario select {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: #2a003f;
    color: white;
}

/* Botão */
.formulario button {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(45deg, #a100ff, #ff00c8);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* Card em baixo */
.info-box {
    margin-top: 30px;
    padding: 20px;
    background: #1a0028;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.info-box h2 {
    margin: 0;
}

.box-bias {
    display: flex;
    align-items: center;
    gap: 10px;
}





